html {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}

.container {
    min-width: 600px;
    max-width: 710px;
    width: 80%;
    height: 90vh;
    border: 3px solid black;
    margin: auto;
    font-family: "Roboto", sans-serif;
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.dropdown-head {
    margin-top: 15em;
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
    width: 270px;
    border: 2px solid black;
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-bottom: 0.7em;
}

.dropdown-head p {
    margin: 0;
}

.dropdown-list {
    height: 16em;
    display: none;
    margin: 0.5em 0;
    list-style: none;
    border: 2px solid black;
    border-radius: 1.4em;
    padding: 0.5em 1.2em;
    overflow: scroll;
}

.dropdown li {
    cursor: pointer;
    position: relative;
    margin: 0 -0.99em;
    font-size: 1.2em;
    padding: 0.5em;
    border-bottom: 2px solid black;
}

.dropdown li:nth-last-child(1) {
    border: none;
}

.tick-icon {
    position: absolute;
    right: 10px;
    width: 22px;
    display: none;
}

.show-icon {
    display: inline;
}

.show-list {
    display: block;
}
.placeholder-card {
    width: 305px;
    box-sizing: border-box;
    background-color: rgb(235, 227, 227);
    padding: 2em 4em;
    border-radius: 10px;
    font-weight: 400;
}
.repo-visible {
    display: none;
}

.repo-card {
    width: 270px;
    border: 2px solid black;
    padding: 1.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
}
.repo-card p {
    margin: 0;
}
.repo {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}
.repo-name {
    font-size: 1.5em;
    font-weight: 500;
}
.repo-details {
    color: grey;
}

.repo-stats {
    display: flex;
    justify-content: space-around;
    color: grey;
}

.lang,
.star,
.fork,
.issue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
    gap: 5px;
}

.lang img,
.star img,
.fork img,
.issue img {
    width: 15px;
}

.refresh-btn {
    width: 305px;
    margin-top: 0.6em;
    background-color: black;
    color: #fff;
    border: none;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.6em 0;
}